@font-face {
  font-family: hylian;
  src: url('../fonts/HyliaSerifBeta-Regular.otf') format("opentype");
}

@font-face {
  font-family: menu;
  src: url('../fonts/ReturnofGanon.ttf') format('truetype');
}

@font-face {
  font-family: legend;
  src: url('../fonts/CharlemagneBold.otf') format('opentype');
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../backgrounds/zelda-tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  z-index: -1;
  background-color: #202225;
}

h1 {
  font-family: hylian;
  font-size: 50px;
  margin-bottom: 20px;
  color: #d5a13f;
  background: url('../backgrounds/gold-texture-wallpaper_53876-47133.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  user-select: none;
  
}

#kill-count {
  font-family: hylian;
  font-size: 60px;
  text-align: center;
  color: #fff;
  user-select: none;
  text-shadow: 1px 1px #000000;
}

.vertical-centering {
  height: 50px;
  margin-top: 20px;
}

.horizontal-centering {
  width: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
}

section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside a {
  z-index: 2;
  display: flex;
  justify-content: center;
  color: black;
  transition: all 0.2s ease-in-out;
}

aside a:hover {
  color: #fff;
  transform: scale(1.05);
}

#game-container {
  height: 600px;
  width: 1050px;
  background-image: url('../backgrounds/haunted_grove.png');
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  flex-shrink: 0;
  position: relative;
}

#gameover {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 600px;
  width: 1050px;
  z-index: 10;
  transition: opacity 3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: hylian;
  color: #bb0200;
  font-size: 50px;
  flex-direction: column;
  text-shadow: 1px 1px #000000;
}

#game {
  top: 0;
  left: 0;
  position: absolute;
  height: 600px;
  width: 1050px;
}

#gameover button {
  color: #fff;
  font-size: 30px;
  font-family: menu;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
}

#pause {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 600px;
  width: 1050px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: hylian;
  color: #fff;
  text-shadow: 1px 1px #000000;
  font-size: 50px;
}

#enter {
  position: absolute;
  font-family: menu;
  font-size: 40px;
  height: auto;
  width: auto;
  bottom: 20px;
  right: 20px;
  color: #fff;
  animation: blinker 1s linear infinite;
  text-transform: uppercase;
  transition: opacity .5s ease-in-out;
  user-select: none;
}

#controls {
  position: absolute;
  font-family: menu;
  font-size: 24px;
  height: auto;
  width: auto;
  top: 20px;
  left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: legend;
  line-height: 40px;
  transition: opacity .5s ease-in-out;
  text-shadow: 2px 2px #000000;
  user-select: none;
}

button {
  background: transparent;
  border: none;
}

.horizontal-centering button {
  z-index: 2;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.horizontal-centering button:hover {
  color: #fff;
  transform: scale(1.05);
}

.selected {
  color: #fff;
  transform: scale(1.05);
}

#mute {
  /* margin-bottom: 20px; */
}

#sound {
  margin-bottom: 50px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
