@font-face {
  font-family: hylian;
  src: url('../fonts/HyliaSerifBeta-Regular.otf') format("opentype");
}

@font-face {
  font-family: menu;
  src: url('../fonts/ReturnofGanon.ttf') format('truetype');
}

@font-face {
  font-family: legend;
  src: url('../fonts/CharlemagneBold.otf') format('opentype');
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../backgrounds/zelda-tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  z-index: -1;
}

h1 {
  font-family: hylian;
  font-size: 50px;
  margin-bottom: 20px;
  color: #d5a13f;
}

.vertical-centering {
  height: 50px;
  margin-top: 20px;
}

.horizontal-centering {
  width: 75px;
}

section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
}

aside a {
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75px;
  width: 75px;
  margin-bottom: 75px; 
}

.github {
  background-image: url('../images/github.png');
}

.linkedin {
  background-image: url('../images/linkedin.svg');  
}

.personal {
  background-image: url('../images/personal.png');  
}

#game-container {
  height: 600px;
  width: 1050px;
  background-image: url('../backgrounds/haunted_grove.png');
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  flex-shrink: 0;
  position: relative;
}

#gameover {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 600px;
  width: 1050px;
  z-index: 10;
  transition: opacity .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: hylian;
  color: #bb0200;
  font-size: 50px;
  flex-direction: column;
}

#game {
  top: 0;
  left: 0;
  position: absolute;
  height: 600px;
  width: 1050px;
}

#gameover button {
  color: #fff;
  font-size: 30px;
  font-family: menu;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
}

#pause {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 600px;
  width: 1050px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: hylian;
  color: #fff;
  font-size: 50px;
}

#enter {
  position: absolute;
  font-family: menu;
  font-size: 30px;
  height: auto;
  width: auto;
  bottom: 20px;
  right: 20px;
  color: #fff;
  animation: blinker 1s linear infinite;
  text-transform: uppercase;
  transition: opacity .5s ease-in-out;
}

#controls {
  position: absolute;
  font-family: menu;
  font-size: 24px;
  height: auto;
  width: auto;
  top: 20px;
  left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: legend;
  line-height: 30px;
  transition: opacity .5s ease-in-out;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
